* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #FF6436;
}

a {
    background-color: #E86F25;
    display: block;
    width: 8%;
    min-width: 80px;
    max-width: 170px;
    padding: 10px;
    margin: 32vh auto;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 15%;
}

a:hover,
img:hover {
    border-color: #FFF;
}

a:active,
img:active {
    background-color: #FF9929;
}

img {
    width: 100%;
    height: auto;
    visibility: visible;
}